openai==0.28.0
python-dotenv==1.0.0
langchain==0.0.354
langchainhub
html2text
chromadb
weaviate-client
azure-search-documents==11.4.0b8
azure-identity
langchain_openai
html2text
requests
beautifulsoup4
unstructured[docx]
docx2txt
tiktoken
bs4
pypdf
gpt_index==0.4.24
html2text
unstructured
python-docx